.header {
  border-bottom: 1px solid #e5e7eb;
  padding: 16px 0;
}

.header-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 6px;
}

.logo-icon {
  width: 80px;
}

.logo-text {
  font-weight: 600;
  font-size: 18px;
  color: var(--cor-titulo);
}

.nav {
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav a {
  text-decoration: none;
  color: var(--cor-texto);
  font-size: 16px;
}

.nav a:hover {
  color: var(--cor-escura);
  transition: ease 0.5s;
}

.btn-contatos {
  border: 1px solid var(--cor-borda);
  padding: 8px 20px;
  border-radius: var(--raio-pequeno);
  transition: background-color 0.2s;
}

.btn-contatos.hover {
  background-color: var(--cor-texto);
  color: var(--cor-fundo) !important;
}
